.wrapper {
  display: flex
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
.side-bar-header {
  height: 100px;
  background-color: #253141;
  padding: 0px 20px;
}
.rooms {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0px 20px;
}

.main-chat {
  width: calc(100% - 300px);
  background-color: #ffffff;
}
.chat-header{
  height: 100px;
  padding: 0px 40px;
}
.messages{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0px;
}
.from{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}